# Virtual environment
.venv/

# Dataset
data/raw/*.csv

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Model files
models/*.pkl
models/*.joblib

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml
MACHINE LEARNING/AI FRAUD DETECTION/DATA/creditcard.csv

MACHINE LEARNING/AI FRAUD DETECTION/DATA/creditcard.csv
